body{
    font-family: 'Exo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* section 1  */
.site_title{
    margin-left: 7%;
}
.sec_a{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.article_a{
    margin: 30px;
    width: 70%;
}
.part_title_a{
    font-size: 28px;
}

.article_a p{
    margin: 40px 0;
}
.article_a a{
    text-decoration: none;
    color: aliceblue;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.5s;
}
.article_a a:hover{
background-color: rgb(226, 57, 27);
box-shadow: 1px 1px 1px gray;
}


/* second section    */

.part_title_b{
    text-align: center;
}

.sec_b{    
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    justify-items: center;
    grid-row-gap: 30px;
}
.part_b{
    border-radius: 5px;    
    padding: 20px;
    box-shadow: 2px 2px 15px rgb(214, 214, 214);    
    transition: 0.3s;
}

.part_b:hover{
    box-shadow: 3px 3px 10px gray;    
}
.rating{
    color: gold;
}
/* section c ------------ */

.address{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.address img{
    width: 100%;
}

.address a{
    font-size: 40px;
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 20px 40px;
    border-radius: 50px;
}
.address a:hover{    
background-color: rgb(255, 112, 86);
box-shadow: 1px 1px 10px gray;
}

/* footer  */
footer{
    background-color: black;
    padding: 20PX 0;
display: flex;
flex-direction: column;
}

footer h1{
    color: white;  
    text-align: center;
}
footer p{
    color: white;    
 text-align: center; 
}

.social{
    display: flex;
    justify-content: center;
    
}
.fab{
 color: white;   
 text-decoration: none;
 padding: 10px;
}


/* Media Queries------------------- */

/* Mobile---------- */
@media only screen and (max-width:688px) {
    
    /* One--------------  */

    .site_title h1{
        text-align: center;
    }
    .sec_a{
        grid-template-columns: repeat(1, 1fr);
    }
    .article_a{
       display: flex;
       flex-direction: column;
    }

    .article_a h1, p{
        text-align: center;
     }

     .article_a a{
         text-align: center;
         transition: 0.5s;
     }
     
     .article_a a:hover{
         
    }
/* Two -------------- */

.sec_b{    
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    grid-row-gap: 30px;
}

/* Three ------------- */
.address{
    flex-direction: column;
}

.div_a{
    margin-top: 100px;
    margin-bottom: 100px
}






/* Tablet --------------- */
@media only screen and (min-width: 688px ) and (max-width:992px) {



    }